.right-section {
    width: 600px;
    margin-left: 20px;
}
.right-section > div {
    margin-left: 16px;
    margin-bottom: 16px;
    margin-top: 16px;
}
.constructor-element {
    min-width: 536px;
}
.ingredients_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 464px;
    overflow: auto;
    padding-right: 8px;
}
::-webkit-scrollbar {
    position: absolute;
    width: 8px;
    background-color: #101124;
}

::-webkit-scrollbar-track {
     background-color: #2F2F37;
}

::-webkit-scrollbar-thumb {
    background: #8585AD;
}
footer {
    display: flex;
    justify-content: space-between;
    margin:0 16px;
}
.summ_price {
    display: flex;
    align-items: center;
    justify-self: center;
}
.button {
    width: 215px;
}